* {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-color: #f2ebc0;
}

h1 {
  font-size: 200px;
  color: #5c4b51;
  text-align: center;
}

h2 {
  font-size: 70px;
  color: #5c4b51;
  text-align: center;
}

.description {
  font-size: 42px;
  font-weight: 380;
  color: #5c4b51;
  text-align: justify;
  text-justify: inter-word;
}

#profile-photo{
border-radius: 800px 50px 50px 800px;
height: 100%;
width: 100%;
border-width: 30px;
border-color: #8CBEB2;
border-style: solid;
}

.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 400px;
    grid-gap:100px;
}

.box1{
   
}

.box2{
   
  
}



/* 
https: //colordesigner.io/color-scheme-builder#5C4B51-8CBEB2-F2EBBF-F3B562-F06060
*/
